# User and Group IDs for Permissions
PUID=1000
PGID=1000
TZ=America/Sao_Paulo

# Global Paths for Download Client and *Arr Apps
DOWNLOADS_PATH=/mnt/media/downloads
MEDIA_PATH=/mnt/media/media

# Network Settings
PROXY_NETWORK=internal-proxy

# Hotio qBittorrentVPN Settings / another VPN option
VPN_SERVICE_PROVIDER=nordvpn
VPN_USER=your_vpn_username
VPN_PASS=your_vpn_password
VPN_OPENVPN_CONFIG=

# If using NordVPN, uncomment a server name below:
# OPENVPN_CONFIG=NordVPN/servers/countries/united_states/seattle.ovpn
# If using PIA, define the region:
# REGION=us_east