# User and Group IDs for Permissions
PUID=1000
PGID=1000
TZ=America/Sao_Paulo

# Global Paths for Download Client and *Arr Apps
DOWNLOADS_PATH=/mnt/media/downloads
MEDIA_PATH=/mnt/media/media

# Network Settings
PROXY_NETWORK=internal-proxy
